<footer class="text-center text-lg-start bg-body-tertiary text-muted">
   
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
     
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
     
  
     
      <div class="socialDiv">
        <a href="https://en.wikipedia.org/wiki/Facebook" class="me-4 text-reset"> FACEBOOK
          <img src="social_pictures/facebook-f-brands-solid.svg" alt="nA">
        </a>
        <a href="https://en.wikipedia.org/wiki/Twitter" class="me-4 text-reset"> TWITTER
          <img src="social_pictures/twitter-bird-logo.svg" alt="nA">
        </a>
        <a href="https://en.wikipedia.org/wiki/Google" class="me-4 text-reset"> GOOGLE
          <img src="social_pictures/logo-google.svg" alt="nA">
        </a>
        <a href="https://en.wikipedia.org/wiki/Instagram" class="me-4 text-reset"> INSTAGRAM
          <img src="social_pictures/logo-instagram.svg" alt="nA">
        </a>
        <a href="https://en.wikipedia.org/wiki/Linkedin" class="me-4 text-reset"> LINKEDIN
          <img src="social_pictures/linkedin-brands-solid.svg" alt="nA">
        </a>
        <a href="https://en.wikipedia.org/wiki/GitHub" class="me-4 text-reset"> GITHUB
          <img src="social_pictures/github-brands-solid.svg" alt="nA">
        </a>
      </div>
    
    </section>
  
  
   
    <section class="">
      <div class="container text-center text-md-start mt-5">
       
        <div class="row mt-3">
         
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
         
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>CodeFactory Alumni
            </h6>
            <p>
                <a routerLink="/alumni" class="text-reset">Alumni</a>
              </p>
              <p>
                <a routerLink="/stories" class="text-reset">Stories</a>
              </p>
              <p>
                <a routerLink="/careers" class="text-reset">Careers</a>
              </p>
              <p>
                <a routerLink="/events" class="text-reset">Events</a>
              </p>
          </div>

<p class="copyright">&copy; by Andrea, Eva, Ilija, Max, Obaid </p>