* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

img {
    height:300px;
    width: 250px;
    margin: auto;
}

.container {
    margin-top: 5vh;
}

.init {
    width:25%
}

button {
    width: 10rem;
}

.btnDiv {
    display: flex;
    justify-content:center;
}
