<div class="container mx-auto row">
    @if (person) {
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            <div class="border m-3 m-md-5">
                <div class="person p-2 d-flex flex-column flex-md-row">
                    <div class="init d-flex align-items-center flex-column flex-md-row">
                        <img src="alumni_pictures/{{ person.photo }}" alt="HUMAN" class="img-fluid rounded " style="max-width: 150px">
                        <div class="text-start text-md-start m-2 d-flex flex-column justify-content-between">
                            <p class="mb-1">{{ person.name }}, {{ person.age }}</p>
                            <p class="mb-0">{{ person.skill }}</p>
                        </div>
                    </div>
                    <div class="more d-flex flex-column justify-content-around">
                        <p>Stories here</p>
                        <p>Careers here</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btnDiv">
            <button class="btn btn-success" routerLink="/">Go back</button>
        </div>
        }
</div>