
    <div>
        <h1 class="text-center pt-2">Here is a selection of our most recent alumnis.</h1>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
        @for (person of Alumni; track $index) {
            <div class="col">
                <div class="border mx-auto m-5">
                    <div class="person p-1">
                        <img src="alumni_pictures/{{ person.photoUrl }}" alt="HUMAN" class="card-img-top">
                        <div class="text-start m-2">
                            <p>{{ person.name }}</p>
                            <p>{{ person.careerPath }}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        }
    </div>

<div class="midBar d-flex">
    <div class="links">
        <div class="btn formatDiv">Reunion Week</div> <div class="line">|</div>
        <div class="btn formatDiv">Distinguished Alumni</div> <div class="line">|</div>
        <div class="btn formatDiv">Carrer resources</div> <div class="line">|</div>
        <div class="btn formatDiv">More events</div> 
    </div>
    <div class="socials"><a href=""></a>
        <a href="https://en.wikipedia.org/wiki/Facebook"><img src="social_pictures/facebook-f-brands-solid.svg" alt="fb"></a>
        <a href="https://en.wikipedia.org/wiki/GitHub"><img src="social_pictures/github-brands-solid.svg" alt="gh"></a>
        <a href="https://en.wikipedia.org/wiki/LinkedIn"><img src="social_pictures/linkedin-brands-solid.svg" alt="li"></a>
    </div>
</div>

<div class="endContainer">
    <section class="article d-flex gap-5 p-5">

        <div class="article1">            
                <img src="event_pictures/article1.jpg" alt="convention">
                <h4>Convention 1</h4>
                <p>This convention is about AI.</p>
                <p>People from all over the world are invited.</p>
                <p>Date: 1.1.2026</p>           
        </div>

        <div class="article2">
            <img src="event_pictures/article2.jpg" alt="convention">
            <h4>Convention 2</h4>
            <p>This convention is about UX.</p>
            <p>People from all over the world are invited.</p>
            <p>Date: 1.2.2026</p>
        </div>

        <div class="article2">
            <img src="event_pictures/article2.jpg" alt="convention">
            <h4>Convention 2</h4>
            <p>This convention is about UX.</p>
            <p>People from all over the world are invited.</p>
            <p>Date: 1.2.2026</p>
        </div>

        <div class="article2">
            <img src="event_pictures/article2.jpg" alt="convention">
            <h4>Convention 2</h4>
            <p>This convention is about UX.</p>
            <p>People from all over the world are invited.</p>
            <p>Date: 1.2.2026</p>
        </div>

    </section>

    <section class="events">

        <h5>Upcoming events</h5>

        <div class="event1">
            <p class="date">12.05.2026</p>
            <a routerLink="/events">Angular Workshop: Build Your First App</a>
        </div>

        <div class="event2">
            <p class="date">15.06.2026</p>
            <a routerLink="/events">Tech Meetup: The Future of Web Development</a>
        </div>
        <div class="event3">
            <p class="date">01.07.2026</p>
            <a routerLink="/events">Job Fair: Entwickler und IT-Experten gesucht!</a>
        </div>
        <div class="event4">
            <p class="date">30.04.2027</p>
            <a routerLink="/events">Online Webinar: Einführung in TypeScript</a>
        </div>

    </section>
</div>


